div.message-div{
    background-color: #696666;
    height: 30em;
    width: 70%;
    margin: 0 auto;
    border-radius: 3px;
    overflow: auto;
}

table, tr, td{
    overflow: auto;
}

form{
    margin: 0;
    margin-top: 3em;
}

.msg{
    vertical-align: bottom;
    border-radius: 3px;
}

.submit-button{
    height: 2.14em;
}

p{
    display: inline;
}